<div class="home-landing intro-header animated fadeInDown">
  <div class="jumbotron jumbotron-home">
    <img src="img/home/logo-chai.png" alt="Chailate" class="img-responsive center-block chail-logo-home">
    <img src="img/home/agencia.png" alt="Agencia" class="img-responsive center-block">
    <a href="#/?nav=contact" class="btn btn-primary btn-lg coco-color">Contactanos</a>
    <div class="arrow-for-down">
        <i class="fa fa-chevron-circle-down fa-3x animated pulse infinite" aria-hidden="true" title="Haz scroll hacia bajo"></i>
    </div>
  </div>
</div>
<section class="home-section coco-summary">
  <h2>¿QUIENES SOMOS?</h2>
  <p>
    SOMOS UNA AGENCIA INNOVADORA DONDE<br/>
    HACEMOS DE NUESTRA PASION, <br/>
    EL TRABAJO PERFECTO
  </p>
</section>
<section class="home-section">
  <a id="servicios" name="servicios" class="invisible" href="#"></a>
  <h2>SERVICIOS</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 coco-service feature-design" ng-mouseover="homeCtrl.showServDet($event)" ng-mouseleave="homeCtrl.hideServDet($event)">
        <a href="#/diseno">
          <div class="inner-feature clearfix">
            <img src="img/feature_instagram.png" alt="design-icon">
            <h3>
                DISEÑO
            </h3>
            <p>
              Tú pones las ideas y nosotros nos divertimos diseñandolas.<br/><br/>
              <span class="link-show-more">Ver más</span>
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 coco-service feature-dev" ng-mouseover="homeCtrl.showServDet($event)" ng-mouseleave="homeCtrl.hideServDet($event)">
        <a href="#/desarrollo-web">
          <div class="inner-feature clearfix">
            <img src="img/feature_instagram.png" alt="design-icon">
            <h3>
                PAGINAS WEB
            </h3>
            <p>
                Ponemos en la nube todas tus ideas, para compartirlas con el mundo.<br/><br/>
                <span class="link-show-more">Ver más</span>
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 coco-service feature-photos" ng-mouseover="homeCtrl.showServDet($event)" ng-mouseleave="homeCtrl.hideServDet($event)">
        <a href="#/sesiones-fotos">
          <div class="inner-feature clearfix">
            <img src="img/feature_instagram.png" alt="design-icon">
            <h3>
                FOTOGRAFIA
            </h3>
            <p>
              Hacemos de cada momento especial un recuerdo para toda la vida<br/><br/>
              <span class="link-show-more">Ver más</span>
            </p>
          </div>
        </a>
      </div>
    <!-- end row -->
    </div>
  <!-- end container -->
  </div>
</section>
<section class="home-section my-work coco-transition">
  <a id="trabajo" name="trabajo" class="invisible" href="#"></a>
  <h2>NUESTRO TRABAJO</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 work-item" ng-repeat="image in homeCtrl.workImages">
        <div class="center-item" 
          ng-mouseover="homeCtrl.selectedWork($event, image)" 
          ng-mouseleave="homeCtrl.unselectedWork($event, image)">
          <div class="work-wrapper">
            <img alt="{{image.title}}" ng-src="{{image.imageUrl}}" class="img-responsive coco-transition">
            <div class="work-details coco-transition">
              <h4 class="text-center">{{image.details}}</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>
</section>
<section class="home-section contact">
  <a id="contacto" name="contacto" class="invisible" href="#"></a>
  <h2 class="contact-title">SONRIE! ¿EN QUE PODEMOS AYUDARTE?</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-data">
          <p class="contact-email">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            chailateagencia@gmail.com
          </p>
          <p class="contact-phone">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>55 73 29 32 54
          </p> 
          <p class="social-links">
            <a href="https://twitter.com/chailateagencia" class="tw-link">
              <i class="fa fa-twitter fa-lg"></i>
            </a>
            <a href="https://www.facebook.com/chailateagencia/" class="fb-link">
              <i class="fa fa-facebook fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/chailateagencia/" class="ins-link">
              <i class="fa fa-instagram fa-lg"></i>
            </a>            
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <form id="contact-form" class="text-left animated fadeInDown" ng-submit="homeCtrl.sendComments();" ng-show="homeCtrl.showContact">
          <input ng-model="homeCtrl.contact.name" type="text" class="form-control" placeholder="Nombre">
          <input ng-model="homeCtrl.contact.email" type="text" class="form-control" placeholder="Email">
          <textarea ng-model="homeCtrl.contact.message" class="form-control" rows="3" placeholder="Mensaje"></textarea>
          <input type="submit" id="submit" value="Submit" class="btn btn-primary btn-lg coco-color">
        </form>
        <div id="contact-message" class="animated fadeInDown" ng-hide="homeCtrl.showContact">
          <h4>Gracias por enviarnos tus comentarios. <br/>
          Muy pronto nos pondremos en contacto contigo. <br/>
          Saludos!</h4>
          <a href ng-click="homeCtrl.showContactForm();"> Escribir otro comentario </a>
        </div>
      </div>
    </div>
  </div>
</section>